<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<div class="container">
  		<img id="logo" src="/images/logo.png">
  		<nav>
  			<ul>
  				<li><a href="/">Home</a></li>
  				<li><a href="/post/add">Blog</a></li>
  				<li><a href="/about">About</a></li>
  			</ul>
  		</nav>
  	
    {{{body}}}
    <footer>&copy; 2018 Kevin Jr</footer>
    </div>
  </body>
</html>
