<div id="form">
	<form action="/post/add" method="post">
	Title: <input type="text" name="title">
	Category: 	<select name="category">
					<option value="webDev">Web Dev</option>
					<option value="sports">Sports</option>
					<option value="computers">Computers</option>
					<option value="fishtanks">Fish Tanks</option>
				</select>
	Body: <textarea rows="4" cols="50" name="body"></textarea>
	Image: <input type="file" name="file">
	Author:		<select name="author">
					<option value="kevinH">Kevin H</option>
					<option value="jonD">Jon Doe</option>
				</select>
	<input type="submit" name="submit" value="Submit">

</form>
</div>