<div id="form">
	<form action="/post/add" method="post">
	Title: <input type="text" name="title">
	Category: 	<select name="category">
					{{#each categories}}
						<option value={{this.name}}>{{this.name}}</option>
					{{/each}}
				</select>
	Body: <textarea rows="4" cols="50" name="body"></textarea>
	Image: <input type="file" name="file">
	Author:		<select name="author">
					<option value="Kevin H">Kevin H</option>
					<option value="Jon D">Jon Doe</option>
				</select>
	<input type="submit" name="submit" value="Submit">

</form>
</div>